<div class="dashboard">
    <div class="dashboard-block">
        <i class='bx bx-clipboard'></i>
        <div>
            <p>Total Tasks</p>
            <h2>{{ tasks.count }}</h2>
        </div>
    </div>
    <div class="dashboard-block">
        <i class='bx bx-user' ></i>
        <div>
            <p>Total Users</p>
            <h2>{{ users.count }}</h2>
        </div>
    </div>
    <div class="dashboard-block">
        <i class='bx bx-group'></i>
        <div>
            <p>Total Departments</p>
            <h2>{{ departments.count }}</h2>
        </div>
    </div>
</div>